@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
$font-point: "Do Hyeon", sans-serif;
body {
  font-family: $font-point;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 30px;
}
